//========================================================================================================================================================
//========================================================================================================================================================
// start vision
.vision {
	position: relative;
	margin: 0 auto;
	// .proba__container
	&__container {
	}
	// .proba__body
	&__body {
		padding-top: rem(631);
		position: relative;
		z-index: 2;
		text-align: center;
		bottom: rem(-25);
	}
	// .proba__title
	&__title {
		font-family: "Corporate A";
		font-weight: 700;
		@include adaptiveValue("font-size", 72, 36);
		line-height: 120%;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include adaptiveValue("margin-bottom", 5, 15);
	}
	// .proba__subtitle
	&__subtitle {
		font-weight: 400;
		@include adaptiveValue("font-size", 24, 22);
		line-height: 120%;
		margin-bottom: rem(24);
	}
	// .proba__logo
	&__logo {
		img {
			width: rem(50);
			height: rem(50);
		}
	}
	// .proba__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			border-top-right-radius: rem(400);
			border-top-left-radius: rem(400);
		}
	}
}
// finish vision
//========================================================================================================================================================
// start concept
.concept {
	@include adaptiveValue("padding-top", 75, 40);
	@include adaptiveValue("padding-bottom", 75, 40);

	// .concept__container
	&__container {
		display: flex;
		justify-content: end;
	}
	// .concept__content
	&__content {
		max-width: rem(900);
		//width: 100%;
	}
	// .concept__title
	&__title {
		margin-bottom: rem(25);
	}
	// .concept__desc

	&__desc {
		font-size: 24px;
		line-height: 120%;
		margin-bottom: rem(25);
	}
	// .concept__image
	&__image {
		img {
			width: 100%;
		}
	}
}
// finish concept
//========================================================================================================================================================
// start PREMIER
.premier {
	@include adaptiveValue("padding-top", 75, 40);
	@include adaptiveValue("padding-bottom", 75, 20);
	// .premier__container
	&__container {
	}
	// .premier__row
	&__row {
		display: flex;
		column-gap: rem(60);
		@media (max-width: $tablet) {
			text-align: center;
			flex-wrap: wrap;
		}
	}
	// .premier__column
	&__column {
		//max-width: rem(570);
		flex: 0 1 50%;
		> *:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: $tablet) {
			flex: 0 1 100%;
			width: 100%;
		}
	}
	// .premier__title
	&__title {
		transition: all 0.5s ease;
		&:hover {
			color: #53a1cb;
			border: rem(1) solid #53a1cb;
		}
		// .premier__title_bottom
		&_bottom {
			border: rem(1) solid #f402a2;
			padding: rem(14) 0;
			display: flex;
			text-align: center;
			justify-content: center;
			// cursor: pointer; //????????????
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(25);
		}
	}
	// .premier__desc
	&__desc {
		font-size: 16px;
		line-height: 120%;
		& p:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 18, 22);
		}
	}
	// .premier__image
	&__image {
		img {
			width: 100%;
		}
		&_1 {
			img {
				@media (max-width: $tablet) {
					margin-bottom: rem(30);
				}
			}
		}
		&_2 {
			img {
				border-top-left-radius: rem(284);
			}
		}
	}
}
// finish PREMIER
//========================================================================================================================================================
// start video

.clip {
	// background-color: #190253;
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// .clip__container
	&__container {
		//position: relative;
	}
	// .clip__video
	&__video {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-bottom: 56.25%;
		margin-bottom: rem(25);
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .clip__title
	&__title {
		padding-top: rem(12);
		padding-bottom: rem(13);
		border: rem(1) solid #f402a2;
		display: flex;
		text-align: center;
		justify-content: center;
		transition: all 0.5s ease;
		&:hover {
			color: #53a1cb;
			border: rem(1) solid #53a1cb;
		}
	}
}

// finish video
//========================================================================================================================================================
//========================================================================================================================================================
// start INTERIOR
.interior {
	@include adaptiveValue("padding-top", 75, 20);
	@include adaptiveValue("padding-bottom", 75, 10);
	// .interior__container
	&__container {
		margin-bottom: rem(100);
	}
	// .interior__body
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: rem(44);
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .interior__column-1
	&__column-1 {
		flex: 0 1 21.25%;
		font-size: 16px;
		line-height: 120%;
		> *:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(23);
		}
		@media (max-width: rem(1200)) {
			flex: 0 1 27%;
			// width: 100%;
		}
		@media (max-width: $tablet) {
			flex: 0 1 30%;
			// width: 100%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
	}
	// .interior__column-2
	&__column-2 {
		flex: 0 1 75%;
		width: 100%;
		@media (max-width: rem(1200)) {
			flex: 0 1 70%;
			// width: 100%;
		}
		@media (max-width: $tablet) {
			flex: 0 1 65%;
			// width: 100%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
	}
	// .interior__title
	&__title {
	}
	// .interior__image
	&__image {
		img {
			//margin-bottom: rem(94);
			@include adaptiveValue("margin-bottom", 94, 20);
			width: 100%;
			max-height: rem(450);
			height: 100%;
			@media (max-width: rem(1200)) {
				margin-bottom: rem(70);
			}
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
		}
	}
	// .interior__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $mobile) {
			justify-content: center;
			column-gap: rem(40);
		}
		@media (max-width: rem(660)) {
			display: block;
		}
	}
	// .interior__block
	&__block {
		flex: 0 1 28.3333%;
		font-size: 16px;
		line-height: 120%;
		> *:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: rem(1200)) {
			flex: 0 1 50%;
		}

		@media (max-width: $tablet) {
			flex: 0 1 42%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
		@media (max-width: rem(660)) {
			margin-bottom: rem(25);
		}
	}
	// .interior__image-salon
	&__image-salon {
		flex: 0 1 36.6666%;
		img {
			border-top-left-radius: rem(102);
			border-bottom-right-radius: rem(102);
			width: 100%;
			height: 97%;
		}
		@media (max-width: $tablet) {
			flex: 0 1 45%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
	}
	// .interior__slider
	&__slider {
	}
	// .interior__wrapper
	&__wrapper {
		position: relative;
	}
	// .interior__slide
	&__slide {
	}
}

.image-slider {
	padding: rem(30) 0 rem(70) 0;
	position: relative;
	// .image-slider__wrapper
	&__wrapper {
		//gap: rem(20);
	}
	// .image-slider__slide
	&__slide {
	}
	// .image-slider__image
	&__image {
		text-align: center;
		img {
			width: 100%;
			max-width: rem(450);
			height: rem(280);
			object-fit: cover;
			padding-bottom: rem(25);
		}
	}
	// .image-slider__control
	&__control {
		position: absolute;
		width: rem(160);
		left: 50%;
		top: -5%;
		transform: translate(-50%, 5%);
		display: flex;	
		justify-content: space-between;
		z-index: 50;
	}
}
//===++++++++++++++++++++++++++++++

.control-image-slider {
	position: relative;
	z-index: 50;
	display: flex;	
	justify-content: space-between;
	// .control-image-slider__arrow
	&__arrow {
		cursor: pointer;
		padding: rem(10) 0;
		color: #f402a2;
		width: rem(50);
		height: rem(20);
	}
	// .control-image-slider__arrow-next
	&__arrow-next {
		background: url('@img/slider/arrow-1.png') 0 0 no-repeat;
	}
	// .control-image-slider__arrow--prev
	&__arrow-prev {
		background: url('@img/slider/arrow-2.png') 0 0 no-repeat;
	}
}

// finish INTERIOR
//========================================================================================================================================================
// start description
.description {
	@include adaptiveValue("padding-top", 75, 10);
	@include adaptiveValue("padding-bottom", 75, 40);
	// .description__container
	&__container {
	}
	// .description__body
	&__body {
		display: flex;
		column-gap: rem(60);
		justify-content: center;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}
	// .description__item
	&__item {
		font-size: rem(16);
		line-height: 120%;
		flex: 0 1 21.25%;
		> *:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: $tablet) {
			flex: 0 1 80%;
			width: 100%;
		}
	}
}
// finish description
//========================================================================================================================================================
//========================================================================================================================================================
// start Forest
.forest {
	@include adaptiveValue("padding-top", 75, 20);
	position: relative;
	text-align: center;
	// .forest__image
	&__image {
		background-size: cover;
		img {
			width: 100%;
			border: 1px solid #000000;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			border-radius: 450px 450px 0px 0px;
		}
	}
}
// finish Forest
//====================================================================================================

//====================================================================================================
// start Forest
.forest {
	// 	position: relative;
	// 	text-align: center;
	// 	&__image {
	// 		//max-width: rem(1920);
	// 	}
	// 	//design__image
	// 	&__image-ibg {
	// 		background-size: cover;
	// 		border-top-right-radius: rem(450);
	// 		border-top-left-radius: rem(450);
	// 		img {
	// 			width: 100%;
	// 		}
	// 	}
}
// finish Forest
